
@font-face {
  font-family: 'CircularAirPro-Light';
  src: url('CircularAirPro-Light.eot?#iefix') format('embedded-opentype'),  url('CircularAirPro-Light.woff') format('woff'), url('CircularAirPro-Light.ttf')  format('truetype'), url('CircularAirPro-Light.svg#CircularAirPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
